.Contact {
    background-color: #361e46;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    box-sizing: border-box;
}

.Arrow {
    margin-bottom: 20px;
    display: flex;
}

.Arrow a{
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.Arrow a:hover,
.ContactIcons a:hover {
    opacity: 0.9;
}

.ContactIcons {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}